nav{
  background: $navbarColor !important;
  border: none;

  a {
    color: black !important;
  }

  //.navbar-collapse {
  //  width: 50%;
  //  button, .navbar-brand {
  //    transition: opacity 0.15s;
  //  }
  //  button {
  //    margin-right: 0;
  //    color: red;
  //  }
  //  button:hover, .navbar-brand:hover {
  //    opacity: 0.8;
  //  }
  //}
}

